.label,
.text-field,
.button,
.combo-box,
.check-box,
.radio-button,
.table-cell .text {
    -fx-text-fill: black;
}

.text-field {
    -fx-background-color: #ffffff;
    -fx-border-color: #bebebe;
}



.list-view {
    -fx-border-color: #bebebe;
}


.text-area:focused {
    -fx-border-color: #bebebe;
}

.text-area {
     -fx-control-inner-background:  #ffffff;
    -fx-border-color: #bebebe;
}

.text-area .content{
    -fx-background-color: #ffffff;
    
}

/*

Combo Box 

*/

.combo-box-popup .list-view .list-cell {
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
}

.combo-box {
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
    -fx-border-color: #bebebe;
}

.combo-box .list-cell {
    -fx-text-fill: #000000;
}


.message-container{
    -fx-background-color: #ffffff;
}

/*
 
menu bar
 
 */
.menu-bar {
    -fx-background-color: #ffffff;
}

.menu-bar-button {
    -fx-background-color: #ffffff;
}

.menu-bar-button:selected {
    -fx-background-color: #bbbaba;
    -fx-text-fill: #f67d26;
}

.menu-bar-button:selected .menu-bar-button-div .menu-button-line {
    -fx-background-color: #f67d26;
}

.filme-icon {
    -fx-background-color: transparent;
    -fx-background-image: url("/images/filme-light-icon.png");
}

.livro-icon {
    -fx-background-color: transparent;
    -fx-background-image: url("/images/livro-light-icon.png");
}

.serie-icon {
    -fx-background-color: transparent;
    -fx-background-image: url("/images/serie-light-icon.png");
}

/* 

search Pane

*/
.Search_Container {
    -fx-background-color: #bbbaba;
}

.search-text-field {
    -fx-background-color: #ffffff;
}

.search-combo-box {
    -fx-border-color: transparent;
}


.titled-pane>.title {
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
}

.titled-pane>.title>.text {
    -fx-fill: #000000;
}

.titled-pane>.content {
    -fx-border-color: #bebebe transparent transparent transparent;
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
}

.filter-label {
    -fx-fill: #000000;
}

.result-table {
    -fx-background-color: #ffffff;
}

.result-table .table-cell {
    -fx-text-fill: #000000;
}


.rounded-label {
    -fx-text-fill: #000000;
    /* Cor do texto */
}

.eye-button {
    -fx-background-color: transparent;
    -fx-background-image: url("/images/light_eye.png");
}

.eye-button:hover {
    -fx-background-image: url("/images/light_eye_hover.png");
}

.media-container {
    -fx-background-color: #bbbaba;
}

.media-content {
    -fx-background-color: #ffffff;
}

.tab-pane .tab {
    -fx-background-color: #bebebe;
}

.tab-pane .tab:selected {
    -fx-background-color: #ffffff;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #000000;
}

.scroll-pane .viewport{
    -fx-background-color: #bbbabb;
}

.scroll-pane{
    -fx-background-color: #bbbabb;
}

.generic-list-view {
    -fx-background-color: #ffffff;
    -fx-control-inner-background: #ffffff; /* para áreas internas */
    -fx-cell-hover-color: transparent; /* opcional: remove destaque ao passar o mouse */
}

.generic-list-view .list-cell {
    -fx-background-color: #ffffff;
}


