.label,
.text-field,
.button,
.combo-box,
.check-box,
.radio-button,
.table-cell .text {
    -fx-text-fill: black;
}

.text-field {
    -fx-background-color: #ffffff;
    -fx-border-color: #bebebe;
}

/*

Combo Box 

*/

.combo-box-popup .list-view .list-cell {
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
}

.combo-box {
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
    -fx-border-color: #bebebe;
}

.combo-box .list-cell {
    -fx-text-fill: #000000;
}

/*
 
menu bar
 
 */
.menu-bar {
    -fx-background-color: #ffffff;
}

.menu-bar-button {
    -fx-background-color: #ffffff;
}

.menu-bar-button:selected {
    -fx-background-color: #bbbaba;
    -fx-text-fill: #f67d26;
}

.menu-bar-button:selected .menu-bar-button-div .menu-button-line {
    -fx-background-color: #f67d26;
}

.filme-icon {
    -fx-background-color: transparent;
    -fx-background-image: url("/images/filme-light-icon.png");
}

.livro-icon {
    -fx-background-color: transparent;
    -fx-background-image: url("/images/livro-light-icon.png");
}

.serie-icon {
    -fx-background-color: transparent;
    -fx-background-image: url("/images/serie-light-icon.png");
}

/* 

search Pane

*/
.Search_Container {
    -fx-background-color: #bbbaba;
}

.search-text-field {
    -fx-background-color: #ffffff;
}

.search-combo-box {
    -fx-border-color: transparent;
}


.titled-pane>.title {
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
}

.titled-pane>.title>.text {
    -fx-fill: #000000;
}

.titled-pane>.content {
    -fx-border-color: #bebebe transparent transparent transparent;
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
}


.filter-label {
    -fx-fill: #000000;
}

.eye-button {
    -fx-background-color: transparent;
    -fx-background-image: url("/images/light_eye.png");
}

.eye-button:hover {
    -fx-background-image: url("/images/light_eye_hover.png");
}